body {
  margin: 0;
  font-family: 'Tahoma', sans-serif;
  background: #111;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  text-align: center;
}
input[type=file] {
  margin: 10px;
}
button {
  padding: 10px 20px;
  background: #00d1ff;
  border: none;
  color: #000;
  font-weight: bold;
  cursor: pointer;
}
#result {
  max-width: 90%;
  margin-top: 20px;
  border: 2px solid #00d1ff;
}
